.burger{
    width: 30px;
    height: 20px;
    margin: 13px 0 0 0;
    padding: 0;
    float: right;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;

    span{
        display: block;
        width: 100%;
        height: 3px;
        border-radius: 10px;
        background-color: #fff;
        transition: transform .5s, background-color .5s;

        &:not(:last-of-type){
            margin: 0 0 6px 0;
        }
    }

    &.open{
        position: relative;
        z-index: 1;

        span{
            background-color: $green-primary;
            margin: 0 !important;

            &:nth-of-type(2){
                display: none;
            }

            &:first-of-type{
                transform: rotate(45deg);    
            }

            &:last-of-type{
                transform: translate(-1px, -4px) rotate(-45deg);    
            }
        }
    }

}

@media all and (min-width: 768px){
    .burger{
        width: 40px;
        height: 30px;
        margin: 25px 0 0 0;
        
        span{
            &:not(:last-of-type){
                margin: 0 0 9px 0;
            }
        }
    }
}