.card{
    background-color: #fff;
    border-radius: 3px;
    max-width: 400px;
    min-height: 300px;
    margin: 0 auto;
    @include standard-box-shadow;
    overflow: hidden;
    position: relative;

    //experimenting with gradient over project screenshots
    &_top{
        padding: 5px;
    }

    &_img{
        display: block;
        width: 100%;
        max-width: 100%;
        border-radius: 3px 3px 0 0;
    }

    &_bottom{
        padding: 20px;
        position: relative;

        p{
            line-height: 17px;
        }
    }

    &_toggle{
        position: absolute;
        padding: 0 5px;
        top: 20px;
        right: 15px;
        border: none;
        background: none;
        cursor: pointer;

        span{
            display: block;
            width: 4px;
            height: 4px;
            background-color: $heading_colour;
            border-radius: 50%;

            &:not(:last-of-type){
                margin: 0 0 2px 0;
            }
        }
    }

    &_reveal{
        width: 100%;
        height: 100%;
        z-index: 1;
        top: 100%;
        position: absolute;
        overflow-y: auto;
        background-color: #fff;
        transition: all .4s;
        padding: 20px;

        &__heading{
            &:after{
                content: '';
                display: table;
                clear: both;
            }

            .heading_tertiary{
                display: inline-block;
            }
        }

        &__close{
            border: none;
            background: none;
            color: $heading_colour;
            float: right;
            cursor: pointer;
            font-size: 22px;
            padding: 0;
            line-height: 20px;
            transition: color .2s;

            &:hover{
                color: $text_colour;
            }
        }

        &__ul{
            padding: 0 0 0 20px;

            li{
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                letter-spacing: 0.288px;
                color: #2b2a2a;

                &:not(:last-of-type){
                    margin: 0 0 5px 0;
                }
            }
        }

        &__footing{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 10px 20px;
            border-top: 1px solid #bbb4b4;

            a{
                display: inline-block;
                font-size: 28px;
                transition: all 0.5s ease;
                position: relative;

                &:before{
                    display: block;     
                    opacity: 0;
                    position: absolute;
                    font-size: 12px;
                    color: #fff;
                    background: $text_colour;
                    top: -30px;
                    left: -5px;
                    white-space: nowrap;
                    padding: 5px;
                    font-weight: 300;
                    border-radius: 3px;
                    @include standard-box-shadow;
                    transition: all .2s;
                }

                &:hover{
                    &:before{
                        opacity: 1;
                        -webkit-transform: translateY(-10px);
                        -ms-transform: translateY(-10px);
                        transform: translateY(-10px);
                    }
                }

                &:first-of-type{
                    &:before{
                        content: 'View Source';
                    }
                    
                }

                &:last-of-type{
                    &:before{
                        content: 'View Project';
                    }
                }

                &:not(:last-of-type){
                    margin: 0 15px 0 0;
                }

                &:hover{
                    color: $heading_colour;
                }
            }
        }

        &__mark{
            background-color: $green_primary;
            color: #fff;
            padding: 0 5px;
            border-radius: 3px;
        }
    }

    &.active{
        .card_reveal{
            transform: translateY(-100%);
        }
    }
}