.contact{
    margin: 90px 0 60px 0;

    &_btn{
        display: block;
        width: 210px;
        margin: 0 auto;
        text-align: center;
        padding: 10px 0;
        text-decoration: none;
        text-transform: uppercase;
        color: $heading_colour;
        //background-color: $heading_colour;
        letter-spacing: 1px;
        border: 3px solid $heading_colour;
        border-radius: 30px;
        font-weight: 500;
        @include standard-box-shadow;
        transition: all 0.5s ease;

        &:hover{
            box-shadow: none;
            transform: translateY(-2px);
            background-color: $heading_colour;
            color: #fff;
            font-weight: 300;
        }
    }
}