.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $heading_colour;
    height: 100vh;
    text-align: left;
    padding: 0 20px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(calc(100% + 10px));
    transition: transform 0.3s ease-in-out;
    z-index: 3;

    &.open{
        transform: translateX(0);
    }


        a {
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #fff;
            text-decoration: none;
            transition: color 0.3s linear;
            
            &:not(:last-of-type){
                margin: 0 0 60px 0;
            }


            &:hover {
                color: $green-primary;
            }
    }
}

@media all and (min-width: 768px){
    .menu{
        padding: 0 100px;
        transform: translateX(calc(100% + 20px));
    }   
}