.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $heading_colour;
    height: 100vh;
    text-align: left;
    padding: 0 60px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(calc(100% + 10px));
    transition: transform 0.3s ease-in-out;
    z-index: 3;

    &.open{
        transform: translateX(0);
    }


        a {
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #fff;
            text-decoration: none;
            transition: color 0.3s linear;
            
            &:not(:last-of-type){
                margin: 0 0 60px 0;
            }


            &:hover {
                color: $green-primary;
            }
    }
}

@media all and (max-height: 440px){
    .menu.open{
        padding: 150px 100px 0 100px;
        overflow-y: scroll;

        a:not(:last-of-type) {
            margin: 0 0 30px 0;
        }
    }
}

@media all and (min-width: 768px){
    .menu{
        padding: 0 100px;
        transform: translateX(calc(100% + 20px));
    }   
}

@media all and (min-width: 1030px){
    .menu{
      a{
          position: relative;

          &:after{
            content: '';
            position: absolute;
            height: 3px;
            background-color: $green-primary;
            width: 0;
            bottom: -10px;
            left: 0;
            transition: width .2s;
        }


          &:hover{
              &:after{
                  width: 100%;
              }
          }
      }
    }   
}