section{
    &.about{
        margin: 0 auto;
        padding: 30px;
        max-width: 965px;
    }
}

@media all and (min-width: 768px){
    section{
        &.about{
            padding: 60px 30px;
        }
    }
}