.work{
    background-color: $green_primary;
    -webkit-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    transform: skewY(-2deg);
    position: relative;
    padding: 60px 0;

    &_inner{
        width: 100%;
        max-width: 330px;
        margin: 0 auto;
        padding: 0 30px; 
        -webkit-transform: skewY(2deg);
        -ms-transform: skewY(2deg);
        transform: skewY(2deg);
    }
}

@media all and (min-width: 768px){
    .work{
        min-height: 700px;
        padding: 0;

        &_inner{
            max-width: 600px;
            position: absolute;
            top: 50%;
            left: 50%;
            padding: 30px 30px 0 30px;
            -webkit-transform: skewY(2deg) translate(-50%, -50%);
            -ms-transform: skewY(2deg) translate(-50%, -50%);
            transform: skewY(2deg) translate(-50%, -50%);
        }
    }
}

@media all and (min-width: 1030px){
    .work{
        min-height: 500px;

        &_inner{
            max-width: 965px;
            padding: 0 30px;
        }
    }
}