@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Roboto:ital,wght@0,300;0,500;1,300&display=swap');

html{
    font-family: 'Roboto', sans-serif;
}

*,*:before, *:after{
    font-family: inherit;
}


.heading{
    
    //main heading
    &_main {
        font-size: 32px;
        font-style: normal;
        font-weight: 200;
        letter-spacing: 0.64px;
        line-height: 38.4px;
        text-transform: none;
        color: $heading_colour
    }
    
    //sub heading
    &_secondary{
        font-size: 19.2px;
        font-style: normal;
        font-weight: 300;
        letter-spacing: 0.384px;
        line-height: normal;
        text-transform: none;
        color: $heading_colour;

        &__decorated{
            display: inline-block;
            position: absolute;
            top: -110px;
            left: 30px;
            font-weight: 700;
            -webkit-transform: rotate(-10deg) skew(-10deg, 0);
            -moz-transform: rotate(-10deg) skew(-10deg, 0);
            -ms-transform: rotate(-10deg) skew(-10deg, 0);
            -o-transform: rotate(-10deg) skew(-10deg, 0);
            transform: rotate(-10deg) skew(-10deg, 0);    
            

            span{
                display: inline-block;
                color: $heading_colour;
                background-color: rgba(255, 255, 255, 0.7);
                padding: 5px 10px;
                border: 1px solid $heading_colour;

                &:first-of-type{
                    display: block;
                    margin: 0 0 2.5px 0;
                }
            }
        }
    }

    &_tertiary{
        margin: 0;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.5px;
        line-height: normal;
        text-transform: none;
        color: $heading_colour
    }
}

//content
p{
    font-size: 14.4px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.288px;
    line-height: 22.32px;
    text-transform: none;
    color: $text_colour
}

a{
    color: $text_colour
}

@media all and (min-width: 600px){
    .heading_secondary__decorated{
        left: -30px;
    }
}

@media all and (min-width: 768px){
    .heading_secondary__decorated{
        top: -80px;
    }
}

@media all and (min-width: 1030px){
    .heading_secondary__decorated{
        top: -150px;
        left: 30px;
    }
}